@import 'settings';

.gnome {
    background-color: $white;
    height: 65px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include list-border;

    &:first-child, &:last-child {
        border-radius: 8px;
    }

    &--details {
        display: flex;
        align-items: center;

        &--image {
            padding: 0 14px 0 16px;
            height: 46px;

            & img{
                height: 45px;
            }
        }

        &--name {
            font-size: 11px;
            float: left;
            font-weight: bold;
        }

        &--age {
            font-size: 9px;
            padding-top: 5px;
            float: left;
            clear: left;
            width: 100%;
        }
    }

    &--attribute {
        display: flex;
        align-items: center;
        font-size: 11px;
        @include progress-bar(200px, 10px);

        &--percentage {
            text-align: right;
            display: inline-block;
            width: 67px;
            padding-right: 16px;
        }

        &--name {
            font-weight: bold;
            margin-right: 16px;
        }
    }
}
