@import 'settings';

.gnome {
    height: 66px;
    background-color: $white;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    @include list-border;

    @include mobile {
        flex-wrap: wrap;
    }

    &:hover {
        background: $border-color-light;
    }

    &:first-child {
        border-radius: 8px 8px 0 0;
    }

    &:last-child {
        border-radius: 0 0 8px 8px;
    }

    &--details {
        display: flex;
        align-items: center;

        @include mobile {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 50%;
        }

        &--image {
            padding: 0 15px;

              @include mobile {
                  width: 30px;
              }
        }

        &--name {
            font-size: 11px;
            float: left;
            font-weight: bold;
        }

        &--age {
            font-size: 9px;
            padding-top: 5px;
            width: 100%;
            float: left;
            clear: left;
        }
    }

    &--attribute {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include progress-bar(200px, 10px);

        @include mobile {
            padding-right: 20px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 45%;
            display: block;
            text-align: right;
            @include progress-bar(100%, 5px);
        }

        &--percentage {
            width: 67px;
            padding-right: 16px;
            text-align: right;
            display: inline-block;

            @include mobile {
                margin-top: 10px;
                width: auto;
                float: left;
            }
        }

        &--name {
            margin-right: 16px;
            font-weight: bold;

            @include mobile {
                display: inline-block;
                margin-top: 10px;
                margin-right: 5px;
                width: auto;
            }
        }
    }
}

.gnome-edit {
    &--image {
        @include mobile {
            display: block;
            margin: 20px auto;

        }
    }

    &--wrapper {
        position: absolute;
        cursor: default;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        opacity: 0;
        @include transition(all 0.5s linear);

        &.active {
            opacity: 1;
        }

    }

    &--container {
        background-color: $white;
        border: 1px solid $main-color;
        height: 47px;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            position: fixed;
            top: 62px;
            left: 0;
            bottom: 0;
            background: rgba(255,255,255,0.9);
            height: auto;
            z-index: 11;
            border: none;
            border-top: 2px solid $main-color;
            border-radius: 0;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            display: block;
        }

        &:first-child {
            border-radius: 8px;

              @include mobile {
                  border-radius: 0;
              }
        }
    }

    &--attributes {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            display: block;
            text-align: center;
        }
    }

    &--attribute {
        margin-right: 25px;
        margin-left: 10px;

        @include mobile {
            margin: 0 0 20px 0;
            width: 100%;
        }

        &--name {
            font-size: 14px;
            padding-right: 5px;

            @include mobile {
                padding: 0 0 10px;
                display: block;
                font-size: 12px;
            }
        }

        &--input {
            padding: 0 10px;
            width: 40px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            border-radius: 6px;
            border: 2px solid $border-color;

            @include mobile {
                width: 100%;
                box-sizing: border-box;
                background: $border-color-light;
                border-color: $border-color-light;
                border-radius: 3px;
                height: 40px;
                line-height: 40px;
            }

            &:focus {
                border: 2px solid $main-color;
                outline: none;
            }

            &.wrong {
                border: 2px solid $wrong-color;
            }

            &.name {
                width: 160px;
                text-align: left;

                @include mobile {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &-name-input {
            width: 150px;
        }

        &-strenght-input, &-age-input {
            width: 25px;
        }
    }

    &--buttons {
       float: right;
       padding-top: 7px;

       @include mobile{
           position: absolute;
           bottom: 20px;
           float: none;
           left: 0;
           right: 0;
           padding: 0 20px;
       }
    }

    &--button {
        width: 70px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        margin-right: 5px;
        display: inline-block;
        text-align: center;
        color: $white;
        background-color: $main-color;
        cursor: pointer;
        border: 2px solid $main-color;
        border-radius: 5px;
        @include transition (all 0.4s ease-in-out);

        &:hover {
            color: $main-color;
            background-color: $white;

            @include mobile {
                float: right;
                margin-right: 0;
                color: $white;
                background-color: $main-color;
            }
        }

        &.secondary {
            background: $secondary-color;
            border-color: $secondary-color;

            @include mobile {
                float: right;
                margin-right: 0;
            }

            &:hover {
                background: $white;
                color: $secondary-color
            }
        }
    }
}
