@import 'settings';

.header {
    width: 100%;
    font-size: 13px;
    position: fixed;
    top: 0;
    background-color: $white;
    height: $header-height;
    border-bottom: 2px solid $border-color-light;
    z-index: 100;

    &--wrapper {
        max-width: $wrapper-width;
        min-width: $wrapper-min-width;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &--logo {

        &-image {
            height: 36px;
        }
    }

    &--creatures {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 165px;

        &-list {

            &-item {
                float: left;
                margin-right: 59px;
            }
        }
        &-button {
            padding: 12px 17px;
            border-radius: 6px;
            margin-right: 48px;
            background-color: $main-color;
            color: $white;
            font-weight: bold;
        }
    }

    &--user {
        display: flex;
        align-items: center;

        &-avatar {
            float: left;
            height: 40px;
        }

        &-data {
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            width: 140px;
            font-size: 11px;
        }

        &-name {
            font-weight: bold;
        }

        &-description {
        }
    }
}
