@import 'settings';

.header {
    width: 100%;

    position: fixed;
    top: 0;
    background-color: $white;
    padding: 0.5em 0;
    border-bottom: 0.12em solid $header-border-color;

    &--wrapper {
        width: $wrapper-width;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &--logo {
        flex-grow: 1;

        &-image {
            padding-left: 3vw;
            height: 2.1em;
        }
    }

    &--creatures {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 3;

        &-list {

            &-item {
                float: left;
                padding: 0 1.3em;
            }
        }
        &-button {
            padding: 0.4em 0.7em;
            border-radius: 0.3em;
            margin-left: 10em;
            background-color: $main-color;
            color: $white;
            font-weight: bold;
        }
    }

    &--user {
        flex-grow: 1;

        &-avatar {
            float: left;
            height: 2.1em;
        }

        &-data {
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.3em;
            height: 2.1em;
        }

        &-name {
            font-weight: bold;
        }

        &-description {
            font-size: 0.8em;
        }
    }
}
