@import 'settings';

.header {
    width: 100%;
    font-size: 13px;
    top: 0;
    position: fixed;
    background-color: $white;
    height: $header-height;
    border-bottom: 2px solid $border-color-light;
    z-index: 100;
    @include mobile{
        font-size: 1em;
        height: auto;
    };

    &--logo {
        @include mobile{
            padding: 0.5em 0 0 0.5em;
        };
    }

    &--wrapper {
        max-width: $wrapper-width;
        min-width: $wrapper-min-width;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        @include mobile{
            font-size: 0.65em;
            max-width: 100%;
            min-width: $mobile-min-width;
        };

        &-left, &-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mobile{
                width: 100%;
            };
        }
    }

    &--creatures {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 165px;
        @include mobile{
            font-size: 1em;
            margin-left: 3em;
        };

        &-list {

            &-item {
                margin-right: 59px;
                float: left;
                cursor: pointer;
                @include mobile{
                    margin-right: 2.5em;
                };

                &:hover {
                    @include animation(shiver 0.2s infinite linear);
                }

                &.active {
                    font-weight: bold;
                    color: $main-color;
                }
            }

        }

        &-button {
            width: 135px;
            line-height: 32px;
            border-radius: 6px;
            margin-right: 48px;
            text-align: center;
            vertical-align: middle;
            background-color: $main-color;
            border: 2px solid $main-color;
            color: $white;
            font-weight: bold;
            cursor: pointer;
            @include transition (all 0.4s ease-in-out);
            @include mobile{
                width: 11em;
                line-height: 1.7em;
                margin-left: 1em;
            };

            &:hover {
                color: $main-color;
                background-color: $white;
                border: 2px solid $main-color;
            }
        }
    }

    &--user {
        display: flex;
        align-items: center;
        cursor: pointer;
        @include mobile{
            padding-bottom: 0.5em;
        };

        &-avatar {
            @include mobile{
                height: 3em;
                width: 3em;
            };
        }

        &-data {
            width: 140px;
            font-size: 11px;
            padding-left: 10px;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mobile{
                width: 12em;
                font-size: 0.8em;
                padding-left: 0.5em;
                line-height: 1.5em;
            };
        }

        &-name {
            font-weight: bold;
        }
    }
}
