@import 'reset';
@import 'settings';

@import 'header';
@import 'gnome';

.body {
    font-family: 'Play', sans-serif;

    letter-spacing: 1px;
    font-size: 20px;
    color: $font-color;
    background-color: $background-color;
}

.templates-container {
    display: none;
}

.main {
    max-width: $wrapper-width;
    min-width: $wrapper-min-width;
    margin: 140px auto;

    &-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 27px;
    }
}
