@import 'reset';
@import 'settings';

@import 'header';
@import 'gnome';

.body {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: $font-color;
    background-color: $background-color;
}

.templates-container {
    display: none;
}

.main {
    margin: 140px auto 30px;
    max-width: $wrapper-width;
    min-width: $wrapper-min-width;

    &-title {
        font-size: 18px;
        margin-bottom: 27px;
        font-weight: bold;
    }
}

.nav-bar {

    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $navbar-background;
    position: fixed;
    cursor: pointer;
    z-index: 200;

    &-arrow {
        width: 15px;
        height: 15px;
        top: 23px;
        left: 18px;
        position: absolute;
        border-left: 8px solid $background-color;
        border-top: 8px solid $background-color;
        @include rotate(45deg);
    }

    &:hover > &-arrow{
        @include animation(shake 0.8s 0.3s ease-in-out);
    }
}
