@import 'reset';
@import 'settings';

@import 'header';
@import 'gnome';

.body {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: $font-color;
    background-color: $background-color;
    @include mobile{
        font-size: 5vw;
    };
}

.templates-container {
    display: none;
}

.main {
    margin: 140px auto 30px;
    max-width: $wrapper-width;
    min-width: $wrapper-min-width;
    @include mobile{
        margin: 5em auto 2em;
        max-width: 100%;
        min-width: $mobile-min-width;
    };

    &-title {
        font-size: 18px;
        margin-bottom: 27px;
        font-weight: bold;
        @include mobile{
            font-size: 0.8em;
            padding-left: 0.5em;
        };
    }
}

.nav-bar {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $main-color;
    border: 2px solid $main-color;
    position: fixed;
    cursor: pointer;
    z-index: 200;
    @include transition(all 0.2s linear);
    @include mobile{
        width: 1.8em;
        height: 1.8em;
    };

    &-arrow {
        width: 10px;
        height: 10px;
        top: 16px;
        left: 13px;
        position: absolute;
        border-left: 4px solid $background-color;
        border-top: 4px solid $background-color;
        @include rotate(45deg);
        @include mobile{
            width: 0.6em;
            height: 0.6em;
            top: 0.6em;
            left: 0.5em;
        };
    }

    &:hover {
        background: $white;
    }

    &:hover > &-arrow{
        border-color: $main-color;
        @include animation(shake 0.8s 0.3s ease-in-out);
    }
}
