
$main-color: #AC1072;
$font-color: #2A0633;
$wrong-color: #D50000;
$border-color: #E5E5F1;
$border-color-light: #F4F5F7;
$white: #FFFFFF;
$background-color: #F9FAFC;
$secondary-color: #999999;

$strenght-bar-main-color: #AC1171;
$strenght-bar-bright-color: #D6A5C8;
$strenght-bar-background-color: $border-color;

$wrapper-width: 1174px;
$wrapper-min-width: 875px;
$mobile-min-width: 320px;
$header-height: 60px;

@mixin list-border {
    border-left: 1px solid $border-color-light;
    border-right: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color;
}

@mixin progress-bar($width, $height) {
    .progress-bar {
        width: $width;
        height: $height;
        border-radius: $height/2;
        background-color: $strenght-bar-background-color;
        position: relative;

        &--indicator-main {
            width: 0;
            height: $height;
            border-radius: $height/2;
            background-color: $strenght-bar-main-color;
            position: absolute;
            top: 0;
            z-index: 3;
        }

        &--indicator-secondary {
            width: 0;
            height: $height;
            border-radius: $height/2;
            background-color: $strenght-bar-bright-color;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
}

@mixin animation($animation){
    -webkit-animation: $animation;
       -moz-animation: $animation;
        -ms-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
            transition: $transition;
}

@mixin rotate($degree) {
        -ms-transform: rotate($degree);
    -webkit-transform: rotate($degree);
            transform: rotate($degree);
}

@mixin mobile {
    @media screen and (max-width: $wrapper-min-width) {
        @content;
    }
}

@keyframes shake {
    0% {
        @include rotate(45deg);
    }
    33% {
        @include rotate(60deg);
    }
    66% {
        @include rotate(30deg);
    }
    100% {
        @include rotate(45deg);
    }
}

@keyframes shiver {
    0% {
        @include rotate(0deg);
    }
    33% {
        @include rotate(5deg);
    }
    66% {
        @include rotate(-5deg);
    }
    100% {
        @include rotate(0deg);
    }
}
