@keyframes shake {
  0% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  33% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  66% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  100% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes shiver {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  33% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  66% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.gnome {
  height: 66px;
  background-color: #FFF;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 1px solid #F4F5F7;
  border-right: 1px solid #F4F5F7;
  border-bottom: 1px solid #E5E5F1; }
  .gnome:first-child {
    border-radius: 8px 8px 0 0; }
  .gnome:last-child {
    border-radius: 0 0 8px 8px; }
  .gnome--details {
    display: flex;
    align-items: center; }
    .gnome--details--image {
      padding: 0 14px 0 16px;
      height: 45px; }
    .gnome--details--name {
      font-size: 11px;
      float: left;
      font-weight: bold; }
    .gnome--details--age {
      font-size: 9px;
      padding-top: 5px;
      width: 100%;
      float: left;
      clear: left; }
  .gnome--attribute {
    font-size: 11px;
    display: flex;
    align-items: center; }
    .gnome--attribute .progress-bar {
      width: 200px;
      height: 10px;
      border-radius: 5px;
      background-color: #E5E5F1;
      position: relative; }
      .gnome--attribute .progress-bar--indicator-main {
        width: 0;
        height: 10px;
        border-radius: 5px;
        background-color: #AC1171;
        position: absolute;
        top: 0;
        z-index: 20;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
      .gnome--attribute .progress-bar--indicator-secondary {
        width: 0;
        height: 10px;
        border-radius: 5px;
        background-color: #D6A5C8;
        position: absolute;
        top: 0;
        z-index: 10;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
    .gnome--attribute--percentage {
      width: 67px;
      padding-right: 16px;
      text-align: right;
      display: inline-block; }
    .gnome--attribute--name {
      margin-right: 16px;
      font-weight: bold; }

.gnome-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30; }
  .gnome-edit--container {
    display: block;
    background-color: #FFF;
    border: 1px solid #AC1072;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .gnome-edit--container:first-child {
      border-radius: 8px; }
  .gnome-edit--attributes-name-input, .gnome-edit--attributes-strenght-input {
    padding: 5px;
    font-size: 14px;
    border: 2px solid #E5E5F1;
    border-radius: 6px; }
    .gnome-edit--attributes-name-input:focus, .gnome-edit--attributes-strenght-input:focus {
      border: 2px solid #AC1072;
      outline: none; }
  .gnome-edit--attributes-name-input {
    width: 150px; }
  .gnome-edit--attributes-strenght-input {
    width: 25px;
    text-align: center; }
  .gnome-edit--button {
    width: 70px;
    padding: 10px 0;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    background-color: #AC1072;
    cursor: pointer;
    border: 2px solid #AC1072;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .gnome-edit--button:hover {
      color: #AC1072;
      background-color: #FFF;
      border: 2px solid #AC1072; }
