.gnome {
  height: 66px;
  background-color: #FFF;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 1px solid #F4F5F7;
  border-right: 1px solid #F4F5F7;
  border-bottom: 1px solid #E5E5F1; }
  .gnome:first-child {
    border-radius: 8px 8px 0 0; }
  .gnome:last-child {
    border-radius: 0 0 8px 8px; }
  .gnome--details {
    display: flex;
    align-items: center; }
    .gnome--details--image {
      padding: 0 14px 0 16px;
      height: 45px; }
    .gnome--details--name {
      font-size: 11px;
      float: left;
      font-weight: bold; }
    .gnome--details--age {
      font-size: 9px;
      padding-top: 5px;
      width: 100%;
      float: left;
      clear: left; }
  .gnome--attribute {
    font-size: 11px;
    display: flex;
    align-items: center; }
    .gnome--attribute .progress-bar {
      width: 200px;
      height: 10px;
      border-radius: 5px;
      background-color: #ECEEF1;
      position: relative; }
      .gnome--attribute .progress-bar--indicator-main {
        width: 0;
        height: 10px;
        border-radius: 5px;
        background-color: #AC1171;
        position: absolute;
        top: 0;
        z-index: 20;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
      .gnome--attribute .progress-bar--indicator-secondary {
        width: 0;
        height: 10px;
        border-radius: 5px;
        background-color: #D6A5C8;
        position: absolute;
        top: 0;
        z-index: 10;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
    .gnome--attribute--percentage {
      width: 67px;
      padding-right: 16px;
      text-align: right;
      display: inline-block; }
    .gnome--attribute--name {
      margin-right: 16px;
      font-weight: bold; }
