@keyframes shake {
  0% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  33% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  66% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  100% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes shiver {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  33% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  66% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.header {
  width: 100%;
  font-size: 13px;
  top: 0;
  position: fixed;
  background-color: #FFFFFF;
  height: 60px;
  border-bottom: 2px solid #F4F5F7;
  z-index: 15; }
  @media screen and (max-width: 875px) {
    .header--logo {
      padding-left: 15px; } }
  .header--wrapper {
    max-width: 1174px;
    min-width: 875px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto; }
    .header--wrapper-left, .header--wrapper-right {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    @media screen and (max-width: 875px) {
      .header--wrapper {
        min-width: 0; } }
  .header--creatures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 165px; }
    @media screen and (max-width: 875px) {
      .header--creatures {
        margin-left: 0; } }
    .header--creatures--mobile {
      display: none;
      order: 2;
      height: 5px;
      width: 30px;
      overflow: visible;
      background-color: #AC1072;
      position: relative;
      cursor: pointer;
      position: absolute;
      right: 15px;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .header--creatures--mobile:before, .header--creatures--mobile:after {
        content: "";
        width: 30px;
        position: absolute;
        display: block;
        height: 5px;
        top: -10px;
        background-color: #AC1072;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .header--creatures--mobile.active {
        background-color: #FFFFFF; }
        .header--creatures--mobile.active:before, .header--creatures--mobile.active:after {
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0px; }
        .header--creatures--mobile.active:after {
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      .header--creatures--mobile:after {
        bottom: -10px;
        top: auto; }
      @media screen and (max-width: 875px) {
        .header--creatures--mobile {
          display: block; } }
    @media screen and (max-width: 875px) {
      .header--creatures-list {
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        border-top: 2px solid #AC1072;
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        text-align: center;
        display: block;
        padding-top: 30px;
        opacity: 0;
        top: 100%;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; } }
    @media screen and (max-width: 875px) {
      .header--creatures-list.active {
        top: 62px;
        opacity: 1; } }
    .header--creatures-list-item {
      margin-right: 59px;
      float: left;
      cursor: pointer; }
      @media screen and (max-width: 875px) {
        .header--creatures-list-item {
          display: block;
          font-size: 24px;
          padding: 20px 0;
          height: auto;
          margin: 0;
          float: none; } }
      .header--creatures-list-item.mobile {
        display: none; }
        @media screen and (max-width: 875px) {
          .header--creatures-list-item.mobile {
            display: block;
            font-size: 14px;
            padding: 0;
            width: 200px;
            height: 40px;
            line-height: 40px;
            margin: 20px auto 0;
            float: none;
            background-color: #AC1072;
            border: 2px solid #AC1072;
            color: #FFFFFF;
            font-weight: bold;
            border-radius: 8px; } }
      .header--creatures-list-item:hover {
        -webkit-animation: shiver 0.2s infinite linear;
        -moz-animation: shiver 0.2s infinite linear;
        -ms-animation: shiver 0.2s infinite linear;
        -o-animation: shiver 0.2s infinite linear;
        animation: shiver 0.2s infinite linear; }
      .header--creatures-list-item.active {
        font-weight: bold;
        color: #AC1072; }
    .header--creatures-button {
      width: 135px;
      line-height: 32px;
      border-radius: 6px;
      margin-right: 48px;
      text-align: center;
      vertical-align: middle;
      background-color: #AC1072;
      border: 2px solid #AC1072;
      color: #FFFFFF;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      @media screen and (max-width: 875px) {
        .header--creatures-button {
          display: none; } }
      .header--creatures-button:hover {
        color: #AC1072;
        background-color: #FFFFFF;
        border: 2px solid #AC1072; }
  .header--user {
    display: flex;
    align-items: center;
    cursor: pointer; }
    @media screen and (max-width: 875px) {
      .header--user {
        margin-right: 60px; } }
    .header--user-data {
      width: 140px;
      font-size: 11px;
      padding-left: 10px;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 875px) {
        .header--user-data {
          display: none; } }
    .header--user-name {
      font-weight: bold; }
