@keyframes shake {
  0% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  33% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  66% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  100% {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes shiver {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  33% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  66% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.header {
  width: 100%;
  font-size: 13px;
  top: 0;
  position: fixed;
  background-color: #FFF;
  height: 60px;
  border-bottom: 2px solid #F4F5F7;
  z-index: 100; }
  .header--wrapper {
    max-width: 1174px;
    min-width: 875px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .header--wrapper-left, .header--wrapper-right {
      display: flex;
      align-items: center; }
  .header--creatures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 165px; }
    .header--creatures-list-item {
      margin-right: 59px;
      float: left;
      cursor: pointer; }
      .header--creatures-list-item:hover {
        -webkit-animation: shiver 0.2s infinite linear;
        -moz-animation: shiver 0.2s infinite linear;
        -ms-animation: shiver 0.2s infinite linear;
        -o-animation: shiver 0.2s infinite linear;
        animation: shiver 0.2s infinite linear; }
      .header--creatures-list-item.active {
        font-weight: bold;
        color: #AC1072; }
    .header--creatures-button {
      width: 135px;
      line-height: 32px;
      border-radius: 6px;
      margin-right: 48px;
      text-align: center;
      vertical-align: middle;
      background-color: #AC1072;
      border: 2px solid #AC1072;
      color: #FFF;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .header--creatures-button:hover {
        color: #AC1072;
        background-color: #FFF;
        border: 2px solid #AC1072; }
  .header--user {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header--user-data {
      width: 140px;
      font-size: 11px;
      padding-left: 10px;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .header--user-name {
      font-weight: bold; }
