<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tomasz Tokarz">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jazzy</title>

    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">

    <!--build:css css/styles.min.css-->
        <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
</head>

<body class="body">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="js-app-container"></div>

    <div class="templates-container">
        <script type="text/template" id="layout-template">
            <div class="js-header-container"></div>
            <div class="main js-main-container"></div>
            <div class="nav-bar js-nav-bar">
                <div class="nav-bar-arrow"></div>
            </div>
        </script>
        <script type="text/template" id="header-template">
            <header class="header">
                <div class="header--wrapper">
                    <div class="header--wrapper-left">
                        <figure class="header--logo"><img src="images/logo.png" class="header--logo-image"></img></figure>
                        <div class="header--creatures">
                            <ul class="header--creatures-list">
                                <li class="header--creatures-list-item active">Gnomes</li>
                                <li class="header--creatures-list-item">Trolls</li>
                            </ul>
                        </div>
                    </div>
                    <div class="header--wrapper-right">
                        <div class="header--creatures-button">Create monster</div>
                        <div class="header--user">
                            <img src="images/avatar.png" class="header--user-avatar"></img>
                            <div class="header--user-data">
                                <span class="header--user-name">Robert Łabuś</span>
                                <span class="header--user-description">Game Master</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </script>

        <script type="text/template" id="gnomes-template">
            <h1 class="main-title">Gnomes</h1>
            <ul class="js-gnomes-list"></ul>
        </script>

        <script type="text/template" id="gnome-item-template">
            <div class="gnome--details">
                <figure>
                    <img class="gnome--details--image" src="images/gnome.png" />
                </figure>
                <div class="gnome--details--info">
                    <span class="gnome--details--name"><%= name %></span>
                    <span class="gnome--details--age">Age: <%= age %></span>
                </div>
            </div>
            <div class="gnome--attribute">
                <!-- <progress class="gnome--attribute--bar" max="100" value="<%= strenght %>"></progress> -->
                <div class="progress-bar">
                    <div class="progress-bar--indicator-main"></div>
                    <div class="progress-bar--indicator-secondary"></div>
                </div>
                <span class="gnome--attribute--percentage"><%= strenght %>/100</span>
                <span class="gnome--attribute--name">Strenght</span>
            </div>
            <div class="gnome-edit"></div>
        </script>

        <script type="text/template" id="gnome-edit-template">
            <div class="gnome-edit--container">
                <figure>
                    <img class="gnome--details--image" src="images/gnome.png" />
                </figure>
                <span class="gnome-edit--attributes-id">ID: <%= id %></span>
                <div>
                    <span class="gnome-edit--attributes-name">Name: </span>
                    <input class="gnome-edit--attributes-name-input js-edit-name" type="text" value="<%= name %>"></input>
                </div>
                <div>
                    <span class="gnome-edit--attributes-age">Age: </span>
                    <input class="gnome-edit--attributes-age-input js-edit-age" type="text" value="<%= age %>"></input>
                </div>
                <div>
                    <span class="gnome-edit--attributes-strenght">Strenght: </span>
                    <input class="gnome-edit--attributes-strenght-input js-edit-strenght" type="text" value="<%= strenght %>"></input>
                </div>
                <div class="gnome-edit--buttons">
                    <span class="gnome-edit--button js-edit-save">Save</span>
                    <span class="gnome-edit--button js-edit-back">Back</span>
                </div>
            </div>
        </script>

    </div>

    <!-- build:js js/main.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone.radio/build/backbone.radio.js"></script>
        <script src="bower_components/backbone.marionette/lib/backbone.marionette.js"></script>

        <script src="js/app/common/views/layout.js"></script>
        <script src="js/app/common/views/header.js"></script>

        <script src="js/app/creatures/gnomes/models/model.js"></script>
        <script src="js/app/creatures/gnomes/models/collection.js"></script>
        <script src="js/app/creatures/gnomes/views/item.js"></script>
        <script src="js/app/creatures/gnomes/views/list.js"></script>
        <script src="js/app/creatures/gnomes/views/edit.js"></script>


        <script src="js/app/initialize.js"></script>
    <!-- endbuild -->

</body>
</html>
